{% extends 'master.html' %}
{% block content %}
  <h1>Add Question Page</h1>

  {% if errors %}
    {% for key,error in errors.iteritems %}
      {{ key }}: {{ error }}
    {% endfor %}
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <label for="question_text">Question</label>
    {{ question_form.question_text }}
    <input type="submit" value="Save"/>
  </form>
{% endblock %}