{% extends 'master.html' %}

{% block content %}
  <h1>Add Choice Page</h1>

  {% if errors %}
    {% for key,error in errors.iteritems %}
      {{ key }}: {{ error }}
    {% endfor %}
  {% endif %}
  <form method="post">
    {% csrf_token %}

    <div>
      <label for="question_text">Question</label>
      {{ choice_form.question }}
    </div>
    <div>
      <label for="question_text">Choice</label>
      {{ choice_form.choice_text }}
    </div>
    <div>
      <input type="submit" value="Save"/>
    </div>

  </form>
{% endblock %}