{% if latest_question_list %}
  <ul>
    {% for question in latest_question_list %}
      {#      <li><a href="/base/detail/{{ question.id }}/">{{ question.question_text }}</a></li>#}
      <li><a href="{% url 'base:detail' question.pk %}">{{ question.question_text }}</a></li>
    {% endfor %}
  </ul>
  <br/>
  <br/>
  <a href="{% url 'base:question' %}">Create Question</a>
{% else %}
  <p>No base are available.</p>
{% endif %}